{% extends "base.html" %}

{% block content %}
    <div class="intro">
        <div class="container">
            <h2 class="intro_title">О проекте Quadratic Equation</h2>
        </div>
    </div>
    <div class="home_text" align="center" style="padding-top: 30px;">
        <span>Привет! Это мой мини-проект для тестового задания в <b>Antida Python School.</b></span><br>
        <span>Проект сделан на основе моих нынешних наработок, потраченное время - вечер и ночь.</span><br>
        <span>Его главная цель - <b>презентация моих навыков и умений</b> в сфере Web-разработки.</span><br>
        <span>В нем реализован простой решатель квадратных уравнений, завернутый в веб-сервис с REST-API.</span><br>
        <span>Надеюсь, что с задачей справился, а также рассчитываю на <b>скорую стажировку/собеседование в Antida Software.</b></span><br><br>
        <h3><a class="nav__link" href="https://vk.com/urpass">VK автора</a></h3>
        <h3><a class="nav__link" href="https://tg.com/xKatinJn">TG автора</a></h3>
    </div>
{% endblock %}